<div class="d-flex justify-content-center text-left flex-column text-light bg-primary container-fluid m-0 p-0">

    <h2>JAG ÄLSKAR PROGRAMMERA</h2>
    <ul>
        <li>Javascript</li>
        <li>https://github.com/hodhod121</li>
        <li>https://github.com/hodhod212</li>
        <li>.NET & C# & MVC</li>
        <li>React, next.js</li>
        <li>React Native</li>
        <li>SQL</li>
        <li>Nodejs</li>
    </ul>
</div>
