<div class="d-flex justify-content-center text-center flex-column text-light bg-info container-fluid m-0 p-0">
    <h1 class="text-danger">Ali Ezadkhaha</h1>
    <p>Födelsedatum: 1018-05-21</p>
    <p>Adress: påstgatan 1 A, 410 34 Stockholm</p>
    <p class="">E-post: hodlk312@gmail.com | Telefonnummer: 071-156 13 90</p>
</div>
