@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Index";
}
<div class="m-5">
    <h1>Index</h1>
    <p>In about page you can see what I like to do</p>
    <p>In Contact page you can see information about me</p>
    <p>In Project page you can see information about my github page and a table of my friends made by razor</p>
    <p>In policy page you can see a multiplication table made by razor</p>
</div>